@import "../../../styles/mixins.scss";

.container {
	background: $basic-white;
	border-top: 1px solid #e6e6e6;
}
.wrapper {
	display: flex;
	justify-content: center;

	padding: 23px 0px;
}
.info {
	@include fluid(font-size, 14px, 18px);
	color: #838383;
}
.link {
	color: #000;
	font-weight: 500;
}
